@mixin fade-react-css-transition-group($name, $fadeInTime, $fadeOutTime) {
  .#{$name}-enter {
    opacity: 0.01;
    &.#{$name}-enter-active {
      opacity: 1;
      transition: opacity $fadeInTime ease-in;
    }
  }

  .#{$name}-leave {
    opacity: 1;
    &.#{$name}-leave-active {
      opacity: 0.01;
      transition: opacity $fadeOutTime ease-in;
    }
  }
}


@include fade-react-css-transition-group("fade-300-300", 300ms, 300ms);
