.bubblingG {
  text-align: center;
  width:58px;
  height:20px;
  margin: auto;
}

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  margin: 0px auto;
  background: rgb(0,0,0);
  animation: bubblingG 0.645s infinite alternate;
  -o-animation: bubblingG 0.645s infinite alternate;
  -ms-animation: bubblingG 0.645s infinite alternate;
  -webkit-animation: bubblingG 0.645s infinite alternate;
  -moz-animation: bubblingG 0.645s infinite alternate;
}

.bubblingG span.bubblingG_1 {
  animation-delay: 0s;

  margin-right:10%
}

.bubblingG span.bubblingG_2 {
  animation-delay: 0.1995s;

  margin-right:10%
}

.bubblingG span.bubblingG_3 {
  animation-delay: 0.389s;
}



@keyframes bubblingG {
  0% {
    width: 3px;
    height: 3px;
    background-color:rgb(0,0,0);
    transform: translateY(-70%);
  }

  100% {
    width: 8px;
    height: 8px;
    background-color:rgb(255,255,255);
    transform: translateY(30%);
  }
}
